#navbar {
	padding: 0 1em;
	justify-content: space-between;
	.title-container {
		padding-left: 3.5vw;

		#title {
			font-family: $text-font-title;
			font-size: calc(2.7rem + 2.5vw);
			text-shadow: 0.02em 0.02em 0 $dark-blue, -0.02em 0em 0 $dark-blue, 0em -0.02em 0 $dark-blue,
				0.05em 0.05em 0 $shadow-color;
			color: $mid-blue;
			margin-right: 0;
		}
		.title-hidden {
			visibility: hidden;
		}
	}
	.logo img {
		width: calc(2.5em + 2vw);
	}
	.nav-link {
		color: $dark-blue;
		cursor: pointer;

		&:hover {
			color: $main-global-color;
		}
	}
	.active {
		color: $main-global-color;
	}
	#navbarNav {
		flex-grow: 0;
		text-align: end;
	}
	.navbar-toggler {
		border-color: $dark-blue;
		padding: .75rem 1rem;
	}
	.fa-bars {
		font-size: 1.5rem;
		color: $dark-blue;
	}
	.dropdown-menu {
		min-width: 0;
		border: solid .04em $dark-blue;
		right: .8em;
		left: auto;
		text-align: right;
		.dropdown-item {
			padding: .25rem .5rem;
			color: $dark-blue;
			&:hover {
				background: transparent;
				color: $main-global-color;
				.fa-leaf {
					color: $favorite-color;
				}
			}
			&.active {
				background: none;
				color: $main-global-color;
				.fa-leaf {
					color: $favorite-color;
				}
			}
		}
	}
	[aria-expanded="true"] {
		color: $main-global-color;
	}
	.dropdown-toggle:after {
		vertical-align: .1em;
	}
}

@media (max-width: 768px) {
	#navbar .dropdown-menu {
		border: none;
	}
}
