<div class="modal fade" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="join-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title-container">
          <h5 class="modal-title" id="join-modal">Welcome to ayGre-ta</h5>
        </div>
        <button id="btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="join-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
            {{> form id="signup" submit="Sign up" action="Join using"}}
          </div>
          <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
            {{> form id="login" submit="Login" action="Login with"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>