<div id="thunbergs-board" class="col-12">

  <form id="thunberg-form">
    <div class="form-group">
      <label for="message">Share your Thunberg</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
      <div class="text-right">
        <button type="button" class="btn btn-light">Cancel</button>
        <button type="button" class="btn btn-dark" id="btnThunberg" data-userid="{{user.id}}" >Post</button>
      </div>
    </div>
  </form>

  <hr>

</div>
