.error-page {
	h1 {
		color: #6b717f;
		font-weight: normal;
		font-size: 4.5rem;

		span {
			font-weight: bold;
			color: #8b0000;
		}
	}
	p {
		color: $main-global-color;
		font-size: 1.5rem;
		padding: 1.5em 0;
	}
	img {
		border-radius: 1em;
		border: .05em solid $dark-blue;
		box-shadow: .1em .1em 0 $dark-blue;
	}
}
