.text-news {
	border: .1em solid $main-global-color;
	padding: 2em;
	border-radius: 2em;
	font-size: 1.2rem;
	text-align: center;

	a {
		text-decoration: none;
		color: $main-global-color;

		&:hover {
			color: #1d5661;
			.fa-leaf {
				color: $favorite-color;
			}
		}
	}
}
