<div id="about-page">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid jumbo-about">
      <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">You may say we are dreamers, but we are not the only ones...</p>
      </div>
    </div>
  </div>

  <div id="about-text" class="container">
    <div class="row">
      <div class="col-5">
        <p><strong>ayGre-ta</strong> is a growing adventure that started as a collaborative student project between two
          folks extremely
          involved in the fight against climate change.</p>

        <p>The young activist <strong>Greta Thunberg</strong> inspired us to kick-start this exciting initiative. We've
          been sleeping for
          a
          long time, but her brave attitude has awakened us.</p>

        <p>We do not want to save the world (we are not superheroes and this is not a movie). We do want to raise your
          awareness of a real problem that concerns your real life.</p>

        <p>This site is for all those people concerned about our planet and the future of the only home we've ever
          known.
          If
          you are one of them you are welcome!</p>

        <p>ayGre-ta is <strong>ME</strong>. ayGre-ta is <strong>YOU</strong>. ayGre-ta is <strong>US</strong>.</p>
      </div>
      <div class="col-7">
        <img src="images/environment.jpg" class="img-fluid" alt="Men, women and environment">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid jumbo-about">
      <div class="container">
        <h1 class="display-4">Inspirationals moments...</h1>
        <p class="lead">If you are not worried about your own planet these awesome people will change your mind</p>
        {{> videos }}
      </div>
    </div>
  </div>
</div>