<div class="container error-page">
  <div class="text-center">
    <h1>500 Internal Server Error</h1>
    <p>Sorry, we will get it fixed as soon as we can.</p>
  </div>
  <div class="row justify-content-center">
    <img src="images/error-page.gif" alt="all wrong gif" width="500">
  </div>
</div>
