<div class="container error-page">
  <div class="text-center">
    <h1>Page Not found</h1>
    <p>Sorry, but you were trying to view a page that does not exist.</p>
  </div>
  <div class="row justify-content-center">
    <img src="images/notfound-page.gif" alt="all wrong gif" width="500">
  </div>
</div>
