.join-form {
	label {
		color: $dark-blue;
	}

	input[type="text"],
	input[type="password"] {
		border: none;
		border-bottom: solid .04em #d3d3d3;
		width: 80%;
		color: $dark-blue;

		&:focus {
			outline: none;
			border-bottom: solid .04em $light-blue;
		}
	}

	::placeholder {
		font-size: .8rem;
	}

	.btn-container {
		display: flex;
		justify-content: center;
	}

	button,
	a {
		padding: .5em 1em;
		color: $dark-blue;
		background: linear-gradient($light-blue, #e3f6f5, $light-blue);
		border: none;
		margin-bottom: 1rem;
		box-shadow: .1em .1em 0 $dark-blue;
		border-radius: .2em;
		transition: box-shadow 0.2s, transform .3s, color 0.2s;
		text-decoration: none;

		&:hover {
			box-shadow: none;
			transform: translate(.1em, .1em);
		}
	}

	.or-container {
		margin-bottom: 1rem;

		hr {
			margin: auto;
			border: solid .05em $light-blue;
			flex-grow: 2;
		}
	}

	span {
		margin: 0 1em;
	}
}
