.leaderboard {
	margin-right: 1em;
	text-align: center;

	.board-title {
		font-family: $text-font-title;
		background-color: $main-global-color;
		height: 150px;
		border-top-right-radius: .3em;
		border-top-left-radius: .3em;
		color: $font-dark-bg;
		justify-content: center;
		align-items: center;
		font-size: 2.5rem;
		font-weight: bold;
	}

	.row {
		border-left: .1em solid $border-color-profile;
		border-right: .1em solid $border-color-profile;
	}

	.table-heading {
		padding-top: 1em;
		background-color: #fff;
		div {
			align-self: center;
		}
	}

	.table-content {
		background-color: #fff;
	}

	.table-content > div {
		padding: .5em .2em;
	}

	.current-user {
		color: $main-global-color;
		font-weight: 700;
	}

	.stats {
		align-self: center;
	}

	.table-content:last-of-type {
		border-bottom: .1em solid $border-color-profile;
		border-bottom-right-radius: .5em;
		border-bottom-left-radius: .5em;
		padding-bottom: 2em;
	}

	#bottom-user {
		background-color: $main-global-color;
		border-top: .1em solid $border-color-profile;
		color: $font-dark-bg;
		padding: 1.6em .2em;

		.current-user {
			color: $font-dark-bg;
		}
	}

	.footer-table {
		background-color: $main-global-color;
		padding: 4em 0;
	}
}

@media (max-width: 1024px) {
	.leaderboard {
		margin: 1em;
	}
	.table-heading p {
		display: none;
	}
}

@media (max-width: 425px) {
	.table-heading {
		p {
			display: initial;
		}
		.col-4 {
			align-self: center;
		}
	}
}
