/* MODALS COMMON RULES */
.modal {
	top: 5%;
	.modal-title {
		font-size: 3rem;
		font-family: 'Lobster', cursive;
		color: #138496;
		text-shadow: -.02em 0 #272343, 0 .02em #272343, .02em 0 #272343, 0 -.02em #272343;
	}
	.title-container {
		flex-grow: 2;
		text-align: center;
	}
	#btn-close {
		color: rgba(39, 35, 67, .7);
		&:hover {
			color: #272343;
			opacity: 100;
		}
	}
	.modal-header,
	.nav-tabs {
		border-bottom: solid 1px #272343;
	}
	[aria-selected="false"] {
		color: rgba(39, 35, 67, .4);
		&:hover {
			color: rgba(39, 35, 67, .7);
			border-color: rgba(39, 35, 67, .7);
		}
	}
	.nav-link.active {
		color: #272343;
		border-color: #272343 #272343 #fff;
	}
}

/* AUTH MODAL SPECIFIC RULES*/
.auth {
	top: 20%;
	.modal-title {
		text-shadow: 0.02em 0.02em 0 #272343, -0.02em 0em 0 #272343, 0em -0.02em 0 #272343, 0.05em 0.05em 0 #333;
		color: #79bac1;
		margin-right: 0;
	}
	.tab-content {
		border: solid 1px #272343;
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
		border-top: none;
	}
}

/* SOCIAL MODAL SPECIFIC RULES */
.follow-btn,
.unfollow-btn {
	font-size: 1.1rem;
	margin-left: .2em;
}
.follow-btn:hover {
	color: #1a8a77;
}
.unfollow-btn:hover {
	color: #b33300;
}
