.card {
	height: 100%;
	border: solid .04em #272343;
	overflow: hidden;

	.card-footer {
		background-color: rgba(39, 35, 67, .7);
		color: #fff;
		border-top: solid .04em #272343;
	}

	a {
		color: #79bac1;
		&:hover {
			color: #2a7886;
		}
	}

	#fav-news {
		padding: 1em;

		.fa-leaf {
			cursor: pointer;
			vertical-align: middle;
			padding-top: .3em;

			&:hover {
				color: #67c979;
				font-size: 1.1rem;
			}
		}
		.favorite {
			color: #67c979;
			font-size: 1.1rem;
		}
	}
}
