.card {
	height: 100%;
	border: .04em solid $dark-blue;
	overflow: hidden;

	.card-text {
		padding-top: 1em;
	}

	.author {
		text-transform: uppercase;
		font-weight: bold;
	}

	.card-footer {
		background-color: rgba(39, 35, 67, .7);
		color: #fff;
		border-top: solid .04em $dark-blue;
	}

	a {
		color: $mid-blue;
		&:hover {
			color: $main-global-color;
		}
	}

	#fav-news {
		padding: 1em;

		.btn-container {
			display: flex;
		}

		.btn-container-hidden {
			visibility: hidden;
		}

		.counter {
			padding-right: .5em;
			color: $dark-blue;
		}
		.fa-leaf {
			cursor: pointer;
			vertical-align: middle;
		}

		.favorite {
			color: $favorite-color;
			font-size: 1.2rem;
		}

		.fav-btn:hover {
			color: $favorite-color;
			font-size: 1.2rem;
		}
	}
}
