#thunbergs-board {
	border: 3px solid $border-color-profile;
	border-radius: 10px;
	background-color: $main-global-color;
	color: #fff;
	margin-bottom: 50px;
	padding-top: 40px;
}

#thunberg-form {
	button {
		margin: 20px 20px 0 0;
	}

	.red {
		color: #e74c3c;
	}

	.char-text {
		font-size: 0.8em;
	}

	textarea {
		resize: none;
	}

	#label-message {
		font-family: $text-font-title;
		font-size: 1.5em;
		margin-bottom: 15px;
	}
}
