.card.thunberg {
	margin-bottom: 20px;
	border: 1px solid $border-color-profile;

	.card-body {
		color: #000;
	}

	.card-header,
	.card-footer {
		background-color: $mid-blue;
		color: #fff;
		border-color: $border-color-profile;
	}

	.card-header {
		border: 0 0 1px 0;
	}

	.card-footer {
		border: 1px 0 0 0;
	}

	.fa-hand-peace {
		font-size: 1.3em;
		color: #fff;
		cursor: pointer;
	}
}
