// family fonts
$text-font-stack: "Nanum Gothic", "Helvetica Neue", Arial, sans-serif;
$text-font-title: "Lobster", cursive;

// recurring colors
$main-global-color: #2a7886;
$border-color-profile: #138496;
$favorite-color: #67c979;
$shadow-color: #333;
$font-dark-bg: #f1f3f4;

// main palette
$dark-blue: #272343;
$mid-blue: #79bac1;
$light-blue: #bae8e8;
